{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Enter Exercises</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" 
						name="save" 
						value="Save&Dash" 
						type="submit">Save</button>
						
				<button class="btn btn-outline-info" 
						name="save-and-new" 
						value="Save&New" 
						type="submit">Save and New</button>
			</div>
		</form>
	</div>
{% endblock content %}