{% extends "tracker/base.html" %}
{% block content %}
	<h1 class="text-center modal-content pt-2 pb-2">My Dashboard</h1>
	{% if user.is_authenticated %}
		{% for workout in workouts %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<h2>
							<a href="{% url 'workout-detail' workout.id %}">
								{{ workout.title }}
							</a> 
							- {{ workout.time_in_minutes }} minutes
						</h2>
						<p class="text-muted">{{ workout.workout_date|date:"F d, Y" }}</p>
					</div>
					<!-- this is inefficient, find a better way to do this -->
					{% for entry in entries %}
						{% if entry.workout_id == workout.id %}
							<p>
								{{ entry.exercise.name }}
								{% if entry.exercise.type == "lift" %}
									- {{ entry.sets }} sets
								{% endif %}
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</article>
		{% empty %}
			<article class="media content-section">
				<div class="media-body">
					<h4 class="text-center pt-1">You currently have no entries</h4>
				</div>
			</article>
		{% endfor %}
	{% else %}
		<h4 class="text-center pt-5">Log in to create workout entries and see your dashboard here</h4>
	{% endif %}
{% endblock content %}

{% block right-side %}
	{% if user.is_authenticated %}
		<div class="text-center">
			<a class="btn btn-info" href="{% url 'workout-create' %}">Add A Workout</a>
		</div>
		<br/>
		<div class="media">
			<img class="border" src="/media/graphs/graph.png">
		</div>
	{% endif %}
{% endblock right-side %}