{% extends "tracker/base.html" %}
{% block content %}
	<div class = "col-13 align-self-center">
		<h1>{{ title }} <a href="{% url 'workout-edit' id %}" class="btn btn-outline-primary float-right mt-2">Edit</a></h1>
		<p>You worked out on {{ date|date:"F d, Y" }}</p>
		<p>{{ time_in_minutes }} minutes</p>
		<br/>
		<h4>Here's what you did during this workout:</h4>
			<div class="pl-2 pt-3">
				{% for entry in entries %}
					<form method="GET">
						<p class="pb-2">
							{{ entry.exercise.name }}
							{% if entry.exercise.type == "lift" %}
								- {{ entry.sets }} sets
							{% endif %}

						    <!-- add a confirmation to delete -->
							{% csrf_token %}
								<button name="delete" 
										type="submit"
										value="{{ entry.id }}" 
										href="#" 
										class="btn btn-outline-danger float-right">Delete</button>
						</p>
					</form>
					<hr>
				{% endfor %}
			</div>
		<a id="add" href="{% url 'entry-create' id %}" class="btn btn-outline-primary float-right mt-3 mb-5">
			Add exercises to this workout
		</a>
	</div>
{% endblock content %}